/* --------------------------------------------------------------

   tetue_trousse.css
   Styles anecdotiques de la trousse a tetue
   (c) romy.tetue.net - 2009

-------------------------------------------------------------- */

/* prevnext */
.prevnext { display: block; overflow: hidden; }
.prevnext .prev,
.prevnext .next { display: block; width: 50%; }
.prevnext .prev { float: left; text-align: left; }
.prevnext .next { float: right; text-align: right; }
.prevnext .sep { display: none; }

/* Amazon / tetue-21 */
.amazon { display: block; width: 120px; min-height: 240px; }
.amazon.amazon-right { float: right; margin: 0 0 .2em 1em; }
.amazon.amazon-left { float: left; margin: 0 1em .2em 0; }
@media handheld { .amazon { display: none; } }
@media print { .amazon { display: none; } }

/* accesskey */
/*a[accesskey]:after { background: transparent; content: "\0000a0(" attr(accesskey) ")"; }*/

/* table_admin */
.table_admin { width: 100%; }
.table_admin th,
.table_admin td { padding: .3em; border-bottom: 1px solid #ccc; }
.table_admin th { background: #666; vertical-align: bottom; }
.table_admin th, .table_admin th * { color: #FFF; }
.table_admin tr:nth-child(2n) { background-color: rgba(238,238,238,.25); }
.table_admin tr.off { background-image: url(img/bg/hachures.png); }
.table_admin tr.off * { color: #999; }
.table_admin tr:hover { background-color: rgba(255,170,0,.5); }
.table_admin td { vertical-align: top; }
.table_admin tr:nth-child(2n) td { background: none; }
.table_admin .id { text-align: right; padding-right: 0; }

/* end */