/* --------------------------------------------------------------

   tetue_trousse.css
   Styles anecdotiques de la trousse a tetue
   (c) romy.tetue.net - 2009

-------------------------------------------------------------- */

/* Amazon / tetue-21 */
.amazon { display: block; width: 120px; min-height: 240px; }
.amazon.amazon-right { float: right; margin: 0 0 .2em 1em; }
.amazon.amazon-left { float: left; margin: 0 1em .2em 0; }
@media handheld { .amazon { display: none; } }
@media print { .amazon { display: none; } }

/* accesskey */
/*a[accesskey]:after { background: transparent; content: "\0000a0(" attr(accesskey) ")"; }*/

/* end */